<mat-card class="addSnipet">
  <mat-card-header>
    <mat-card-title>Ajouter un snipet</mat-card-title>
  </mat-card-header> 
  <mat-card-content>
    <form [formGroup]="addSnipetForm" (submit)="onSubmit()">
        <div>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Titre du snippet</mat-label>
              <input matInput formControlName="title">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Description du snippet</mat-label>
              <input matInput formControlName="description">
            </mat-form-field>
          </p>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Contenu</mat-label>
            <input matInput formControlName="content">
          </mat-form-field>
            <!-- <label>Nom:
                <input formControlName="title" placeholder="name"/>
            </label>
            <label>description:
                <input formControlName="description" placeholder="description"/>
            </label>
            <label>Code:
              <input formControlName="content" placeholder="content"/>
            </label> -->
            <br/>
            <button type="submit" [disabled]="!addSnipetForm.valid">Ajouter</button>
        </div>
      </form>
  </mat-card-content>
</mat-card>