<mat-toolbar color="primary">
    <span>Devctionnary</span>
    <span class="example-spacer"></span>
    <div class="navbar-right">
        <button mat-button  [routerLink]="'/'"> Accueil </button>
        <button mat-button [routerLink]="'/add-snipet'"> Mes snippets </button>
        <button mat-button  > S'inscrire </button>
        <button mat-button  [routerLink]="'/login'"> Se connecter </button>
        <button mat-button > Profil </button>
        <button mat-button  > Se déconnecter </button>
      </div>
</mat-toolbar>