<div class="component-content">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Mon profil</h2>

    <span  *ngIf="user && editAllowed === true">
      <a [routerLink]="['/modify-profile']" routerLinkActive="active" class="mr-3">
        <button mat-raised-button color="primary">
          <mat-icon class="medium-icon" aria-hidden="false" aria-label="Edit profile">edit</mat-icon>
          Modifier
        </button>
      </a>

      <button mat-raised-button color="warn" (click)="confirmDeletion()">
        <mat-icon class="medium-icon" aria-hidden="false" aria-label="Edit profile">edit</mat-icon>
        Supprimer
      </button>
    </span>
  </div>
  
  <div *ngIf="user" class="user-profile-show">
    <p><strong>Nom d'utilisateur : </strong>{{ user.username }}</p>
    <p><strong>Email : </strong>{{ user.email }}</p>
    <p><strong>Prénom : </strong>{{ user.firstName }}</p>
    <p><strong>Nom : </strong>{{ user.lastName }}</p>
    <p><strong>Biographie : </strong><span [innerHTML]=user.biography></span></p>
  </div>
  
  <div *ngIf="!user" id="loader" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</div>
